<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="someService" class="com.zzb.learn.service.SomeServiceImpl"/>
    <bean id="someService2" class="com.zzb.learn.service.SomeServiceImpl"/>
    <bean id="myMethodInterceptor" class="com.zzb.learn.service.MyMethodInterceptor"/>
    <bean id="myAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="advice" ref="myMethodInterceptor"/>
        <property name="mappedName" value="doSomething"/>
    </bean>
    <bean id="myAdvisor2" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
        <property name="advice" ref="myMethodInterceptor"/>
        <property name="mappedName" value="doOther"/>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <!--<property name="interceptorNames" value="myAdvisor"/>-->
        <property name="interceptorNames" value="myMethodInterceptor"/>
        <property name="beanNames" value="someService"/>
    </bean>
</beans>