<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="myStudent" class="com.bjpowernode.di13.Student" parent="myBase">
		<property name="name" value="张三" />
		<property name="age" value="23" />
	</bean>
	
	<bean id="myTeacher" class="com.bjpowernode.di13.Teacher" parent="myBase">
		<property name="name" value="Reyco" />
		<property name="workAge" value="19" />
	</bean>


</beans>

